$Seasalt: #FAFAFA;
$AliceBlue: #E3F2FD;
$IndianRed: #DB5461;
$SecondaryRed: #9d4040;
$DimGray: #686963;
$BattleshipGrey: #798681;
$CambridgeBlue: #8AA29E;
$heightHeaderFooter: 80px;

@import url('./reset.scss');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

:root{
  span, button, div,
  p, h1, h2, h3, h4, h5, h6{
    font-family: 'Belanosima';    
  }
}

html, body {
  background-color: $SecondaryRed;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  min-height: 100vh;
  // margin: 5rem;
}

#mainContainer{
  min-height: 100vh;
  margin: 2rem;
  margin-top: 0;
}

span.MuiCardHeader-title{
  color: $IndianRed;
}

h4{
  font-family: 'Luckiest Guy';
}

header {
  background-color: $IndianRed !important;
  position: sticky !important;
  top: 0;
  z-index: 100;
}

fieldset{
  border-color: white !important;
}

#banner{
  background-size: cover;
  background-position: center;
  height: calc(100vh - $heightHeaderFooter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  h1 {
    font-size: 12rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $heightHeaderFooter;
  background-color: rgba(0, 0, 0, 25%);
  // position: sticky !important;
  bottom: 0;
}

#storefront-wrapper{
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  
}

#categories-header{
  text-align: center;
}

#categoryContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  // margin: 0 1.5rem;

  > * {
    width: 5rem;
    padding: 0.125rem;
    margin: 0.5rem;
    text-align: center;
    background-color: transparent;
    color: white;

    &:hover{
      background-color: white !important;
      color: $IndianRed !important;
    }
  }
  
  .activeCategory{
    background-color: white !important;
    color: $IndianRed !important;
  }
}


.categorySelector, .categoryPageSelector {
  cursor: pointer;
}

#categoriesPage{
  margin: 1rem 0;
}

#categoriesPageHeader{
  text-align: center;
}

.categoryPageSelector{
  display: flex;
  align-items: center;
  height: 8rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 3rem;
  color: $IndianRed !important;
  border: 3px solid $IndianRed;

  &.food{
    background: linear-gradient(to right, white, white 25%, transparent 26%, transparent), url('../assets/produce.jpeg');
    background-size: 100% 500%;
    background-position-x: center;
    background-position-y: 62.5%;
  }

  &.electronics{
    background: linear-gradient(to right, white, white 25%, transparent 26%, transparent), url('../assets/electronics.webp');
    background-size: 100% 500%;
    // background-position: center;
    background-position-x: center;
    background-position-y: 40%;
  }

  &.games{
    background: linear-gradient(to right, white, white 25%, transparent 26%, transparent), url('../assets/games.webp');
    background-size: 100%;
    // background-position: center;
    background-position-x: center;
    background-position-y: 30%;
  }

  &.weapons{
    background: linear-gradient(to right, white, white 25%, transparent 26%, transparent), url('../assets/weapons.jpeg');
    background-size: 100%;
    background-position-x: center;
    background-position-y: 23.5%;
  }

  &:nth-child(even){
    // justify-content: flex-end;
  }
}

#productsContainer {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#productsHeader{
  display: flex;
  background-color: white;
  color: $IndianRed;
  justify-content: center;
  box-shadow: 0 0 0 100vmax white;
  clip-path: inset(0 -100vmax);
  text-transform: uppercase;
  position: sticky !important; 
  top: 118px;
  z-index: 99;
  margin-bottom: 1rem;
}

.product-card{
  width: 300;
  height: 300;
  margin: 1rem;
  background: linear-gradient($AliceBlue, $IndianRed);
  border: 2px solid $Seasalt;
}

.product-buttons{
  justify-content: space-around;

}

button{
  background-color: $IndianRed !important;
  
  a{
    color: white;
  }

  &:hover{
    color: $IndianRed !important;
    background-color: white !important;

    a{
      color: $IndianRed;
    }
  }
}

.MuiCardActions-root{
  padding: 1rem !important;
}

.MuiAccordion-root{
  background-color: $IndianRed !important;
  color: white !important;
}