

:root, body {
  background-color: rgb(75, 59, 92);
  /* color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --heightHeaderFooter: 80px;
}

.categorySelector {
  cursor: pointer;
}



.activeCategory {
  border: 2px solid red;
  /* background-color: blue; */
}

#productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}